DB_HOST=dpg-d6nc2ptactks738k1gr0-a.oregon-postgres.render.com
DB_PORT=5432
DB_NAME=ma_sante_assurance
DB_USERNAME=ma_sante_assurance_user
DB_PASSWORD=change_me
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
SERVER_PORT=8080
